@import '../../generic/generic';

.profile-head {
  &__top {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &__log {
      border: 1px solid $strong;
      border-radius: 4px;
      padding: .5rem 1rem;
    }

    &__upload {
      padding-top: 3rem;
      align-self: center;

      .upload-button {
        background: $gray-lighter;
        border: 1px solid $pale;
        border-radius: 3px;
        color: $gray-light;

        font-size: 14pt;
        font-weight: 300;
        padding: .5rem 1.5rem;
        transition: all .3s ease-in-out;

        i {
          color: $pale;
          font-size: 20pt;
          margin-right: 2rem;

          transition: all .3s ease-in-out;
        }

        &:hover, &:active {
          background: $strong;
          border: 1px solid $gray-lighter;
          border-radius: 3px;
          color: $gray-lighter;
          outline: 0;
          i {
            color: $gray-lighter;
          }
        }
        &:focus {
          outline: 0;
        }
      }
    }
  }

  &__info {
    flex-direction: row;
    padding: 1rem 1.5rem 0 1.5rem;
    z-index: 5;
    
    &__user-name {
      align-self: flex-start;
      order: 1;
    }
  }
  
  &__info-photo {
    margin-top: -2rem;
    width: auto;
    height: auto;
    .profile-image {
      z-index: 3;
      width: 160px;
      height: 160px;
    }
  }
  
  &__info-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1.5rem;
    width: 100%;
    height: 96px;
    &__info {
      order: 4;
      width: 100%;
      i {
      }

      &--review {
        order: 3;
        width: auto;
      }

      &--list {
        padding-right: 2rem;
        width: auto;
      }
    }
    &__info-text {
    }

    &__rating {
      order: 2;
      margin-left: auto;
      padding: 0 3rem;
      color: $gray-light;
    }

    &__info-pop {
    }

    &__info-button {
      align-items: center;
      display: flex;
      padding-top: 0;
      &__link {
      }
      
      i {
      }
    }
  }
}
